.main-comment {
	background-color: white;
	width: 280px;
	min-height: 65px;
	border: 1px solid #bbb;
	margin: 10px auto 10px;
	box-shadow: rgba(0, 0, 0, 0.75) 10px 13px 12px -5px;
}

.empty-comments {
	border: 1px solid white;
	text-align: center;
	margin: 11%;
	border-radius: 10px;
}

.empty-comments h3 {
	margin: 0;
	padding: 15px;
}

.main-comment {
	color: black;
}
h6.main-comment--content {
	font-size: 0.7em;
	vertical-align: -webkit-baseline-middle;
	padding-top: 20px;
}
i.main-comment--icon-close {
	float: right;
	cursor: pointer;
}
